.rectangle {
  display: inline-block;
  width: 740px;
  height: 330px;
  border-color: #074061;
  border-style: solid;
  border-width: 15px;
  position: absolute;
  top: 115px;
  left: 635px;
}

.image {
  opacity: 0.7;
  position: relative;
  background-color: rgb(226, 226, 226);
}
.image:hover {
  background-color: rgb(187, 184, 184);
  color: black;
}

.text {
  font-size: 38px;
  font-family: "Dancing Script";
  text-align: center;
  padding-top: 55px;
  padding-right: 27px;
  padding-bottom: 70px;
  padding-left: 280px;
  line-height: 50px;
  letter-spacing: 2px;
}
.headerStyle {
  font-size: 40px;
  font-style: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-left: 210px;
}

.title {
  color: rgb(88, 88, 88);
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.container {
  position: relative;
  margin-left: 65px;
}
.content {
  position: absolute;
  top: 90px;
}
.backop {
  background-color: rgba(0, 0, 0, 0.65);
  margin-right: 55px;
}
.profile {
  display: inline-block;
  width: 200px;
  height: 270px;
  background-color: #a2b4b4;
  position: relative;
  margin-bottom: 50px;
}
.profilepic {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}

.grid-container {
  display: inline-grid;
  height: 900px;
  grid-template-columns: auto auto auto auto;
  padding-top: 50px;
  grid-gap: 110px;
  margin-left: 130px;
}

.headerStyle1 {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 90px 200px 30px;
}
